﻿.photo {
	height: 140px;
	width: 240px;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #aaaaff;
	margin-right: 10px;
	background: #F0f0f0;
	padding: 5px;
}
.photo table {
	line-height: 28px;

}
.photo img {
	border: 1px solid #666;
	margin: 2px;
	padding: 2px;
}
.photoselect {
	height: 140px;
	width: 240px;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #8686FF;
	margin-right: 10px;
	background: #D7D7FF;
	padding: 5px;
}
.photoselect table {
	line-height: 28px;

}
.photoselect img {
	border: 1px solid #666;
	margin: 2px;
	padding: 2px;
}
