/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
	margin:0;
	padding:0; 
}
a {
	text-decoration:none;
}
.c{
	clear:both;
}
ul {
	list-style: none;
}
img { 
	border: 0 none; 
	vertical-align: top; 
}
/*=======================MY_STYLE_CXX_2011_06_17=======================*/
body {
	margin:0;
	background-color:#fff;
	font-family:"宋体";
	height:100%;}
.main_top{
	width:100%;
	background:url(../images/main_top.png) repeat-x;
	height:41px;}
.main_top_box{
	width:100%;}
.main_top_tu{
	float:left;}
.main_top_rightbox{
	float:right;
	width:120px;
	height:15px;
	margin-right:10px;}
.main_top_false{
	float:left;
	background:url(../Images/false.png) no-repeat;
	width:15px;
	height:15px;
	margin:1px 5px 0 5px;}
.main_top_txt a{
	float:left;
	text-decoration:underline;
	font-family:"微软雅黑";
	font-size:12px;
	color:#427fb7;}
.main_top_txt a:hover{
	color:#000;}
.main_top_warning{
	float:left;
	background:url(../Images/warning.png) no-repeat;
	width:15px;
	height:15px;
	margin:1px 5px 0 5px;}	
.main_box{
	margin:5px 30px 0 30px;
	background-color:#fbfbfb;
	height:10px;
	}
.main_box_left{
	background:url(../images/main_left.png) repeat-y;
	height:100%;
	width:25px;
	float:left;
	}
.main_box_right{
	background:url(../images/main_right.png) repeat-y;
	height:100%;
	width:25px;
	float:right;
	}
.main_top_linebox{
	background:url(../images/main_top_line_re.png) repeat-x;
	height:10px;
	width:100%;
	margin-bottom:3px;
	overflow:hidden;}
.main_top_line{
	width:375px;
	height:10px;
	margin:0 auto;}
.main_top_content{
	width:100%;
	background-color:#E3E3E3;
	}
.main_top_content_t1 a{
	float:left;
	background:url(../images/content_t1.png) no-repeat;
	width:194px;
	height:100px;
	font-family:"微软雅黑";
	font-size:12px;
	font-weight:bold;
	line-height:70px;
	text-indent:48px;
	color:#666;}
.main_top_content_t1 a:hover{
	float:left;
	background:url(../Images/content_t1_off.png) no-repeat;
	width:194px;
	height:100px;
	color:#000;
	cursor:pointer;}
.main_top_content_t2 a{
	float:left;
	background:url(../Images/content_redstr.gif) no-repeat;
	width:194px;
	height:100px;
	font-family:"微软雅黑";
	font-size:12px;
	font-weight:bold;
	line-height:70px;
	text-indent:48px;
	color:#666;}
.main_top_content_t2 a:hover{
	float:left;
	color:#000;
	cursor:pointer;}
.main_top_content_t3 a{
	float:left;
	background:url(../Images/content_yellowstr.gif) no-repeat;
	width:194px;
	height:100px;
	font-family:"微软雅黑";
	font-size:12px;
	font-weight:bold;
	line-height:70px;
	text-indent:48px;
	color:#666;}
.main_top_content_t3 a:hover{
	float:left;
	color:#000;
	cursor:pointer;}
.main_top_content_t4 a{
	float:left;
	background:url(../Images/content_t4.png) no-repeat;
	width:194px;
	height:100px;
	font-family:"微软雅黑";
	font-size:12px;
	font-weight:bold;
	line-height:70px;
	text-indent:48px;
	color:#666;}
.main_top_content_t4 a:hover{
	float:left;
	background:url(../Images/content_t4_off.png) no-repeat;
	width:194px;
	height:100px;
	color:#000;
	cursor:pointer;}
.main_top_line1{
	width:100%;
	height:3px;
	background-color:#427fb7;
	margin-top:3px;
	overflow:hidden;}
/*=======================MAIN START=======================*/
.main_box1{
	margin:0 30px 0 30px;
	background-color:#fbfbfb;
	height:20px;
	}
.main_box2{
	margin:0 30px 0 30px;
	background-color:#fff;
	}
.main_content_title{
	background:url(../images/main_content_title.png) repeat-x;
	height:32px;
	width:100%;
	}
.main_content_title1{
	float:left;
	background:url(../images/main_content_title1.png) no-repeat;
	width:174px;
	height:32px;}
.main_content_smallbox{
	float:left;
	width:7px;
	height:7px;
	background-color:#fff;
	margin:12px 10px 0 50px;
	display:inline;
	overflow:hidden;
}
.main_content_title_txt{
	float:left;
	font-size:16px;
	font-family:"微软雅黑";
	color:#000;
	margin-top:5px;}
.main_content_title_txt:hover, main_content_title_txt_off{
	color:#FFF;
	cursor:pointer;}
.main_content_title2{
	float:right;
	background:url(../images/main_content_title2.png) no-repeat;
	width:25px;
	height:32px;}
.main_content_middle{
	background-color:#FFF;}
td {
	background-image:repeat-y;
	}
.row td{
	background-color:#FFF;}
.main_content_box{ margin-bottom:10px;}
.main_content_col_green a{
	float:left;
	background:url(../images/content_green_button.png) no-repeat;
	width:147px;
	height:30px;
	margin:10px 0 0px 10px;
	font-family:"宋体";
	font-size:15px;
	text-indent:43px;
	font-weight:bold;
	padding-top:8px;
	color:#666;
	text-decoration:none;
	}
.main_content_col_green a:hover{
	float:left;
	background:url(../Images/content_green_button_off.png) no-repeat;
	width:147px;
	height:30px;
	font-weight:bold;
	color:#000;
	}
.main_content_col_red a{
	float:left;
	background:url(../images/content_red_button.png) no-repeat;
	width:147px;
	height:30px;
	margin:10px 0 0px 10px;
	font-family:"宋体";
	font-size:15px;
	text-indent:43px;
	font-weight:bold;
	padding-top:8px;
	color:#666;
	text-decoration:none;
	}
.main_content_col_red a:hover{
	float:left;
	background:url(../Images/content_red_button_off.png) no-repeat;
	width:147px;
	height:30px;
	font-weight:bold;
	color:#000;
	}
.main_content_col_yellow a{
	float:left;
	background:url(../images/content_yellow_button.png) no-repeat;
	width:147px;
	height:30px;
	margin:10px 0 0px 10px;
	font-family:"宋体";
	font-size:15px;
	text-indent:43px;
	font-weight:bold;
	padding-top:8px;
	color:#666;
	text-decoration:none;
	}
.main_content_col_yellow a:hover{
	float:left;
	background:url(../Images/content_yellow_button_off.png) no-repeat;
	width:147px;
	height:30px;
	font-weight:bold;
	color:#000;
	}
.main_content_col_gray a{
	float:left;
	background:url(../images/content_gray_button.png) no-repeat;
	width:147px;
	height:30px;
	margin:10px 0 0px 10px;
	font-family:"宋体";
	font-size:15px;
	text-indent:43px;
	font-weight:bold;
	padding-top:8px;
	color:#666;
	text-decoration:none;
	}
.main_content_col_gray a:hover{
	float:left;
	background:url(../Images/content_gray_button_off.png) no-repeat;
	width:147px;
	height:30px;
	font-weight:bold;
	color:#000;
	}
.main_content_blank{
	min-height:40px;
	}	
.main_content_bottom{
	background:url(../images/main_content_bottom.png) repeat-x;
	height:20px;}
.main_content_bottom_left{
	float:left;
	background:url(../images/main_content_bottom_left.png) no-repeat;
	height:20px;
	width:43px;}
.main_content_bottom_right{
	float:right;
	background:url(../images/main_content_bottom_right.png) no-repeat;
	height:20px;
	width:25px;}
.main_body_bottom{
	background:url(../images/main_body_bottom.png) repeat-x;
	height:25px;}
.main_body_bottom_left{
	float:left;
	background:url(../images/main_body_bottom_left.png) no-repeat;
	height:28px;
	width:25px;}
.main_body_bottom_right{
	float:right;
	background:url(../images/main_body_bottom_right.png) no-repeat;
	height:25px;
	width:25px;}
.body_bottom{
	background:url(../images/bottom.png) repeat-x;
	height:34px;
	margin-top:40px;}