﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>常州市民卡业务运营支撑系统V1.0</title>
</head>
<frameset id="mainframe" rows="66,*" frameborder="0" framespacing="0">

<frame src="top.aspx" name="top" frameborder="0" scrolling="no" noresize="noresize">
<frame src="main.aspx" name="main" frameborder="0" scrolling="auto"  noresize="noresize" >
</frameset>
</html>
