﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Logontest.aspx.cs" Inherits="Logontest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>常州市民卡业务运营支撑系统V1.0</title>
    <link href="css/login1.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <script type="text/javascript" src="js/cardreader.js"></script>

    <form id="form1" runat="server">
    <div id="logo"></div>
    <div id="login">
        <div id="kuang">
            <div class="fgx">用户登录</div>
            <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="67">用户名:</td>
                    <td style="width: 163px">
                        <asp:TextBox CssClass = "input" ID = "UserName" MaxLength = "6" runat ="server"  Text="999999" ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td>密　码:</td>
                    <td style="width: 163px">
                        <asp:TextBox CssClass = "input" ID = "UserPass" MaxLength = "8" runat ="server" Text="czsmk"  ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td>卡　号:</td>
                    <td style="width: 163px">
                        <asp:TextBox CssClass = "input" ID = "txtOperCardno" MaxLength = "16" runat ="server" Text="9150999900000188"  ></asp:TextBox>
                    </td>
                </tr>
                 <tr>
                    <td>城  市:</td>
                    <td style="width: 163px">
                        <asp:DropDownList CssClass="input" ID="selCity" runat="server">
                        <asp:ListItem Value="" Text="---请选择---" />
                        <asp:ListItem Value="suzhou" Text="苏州" />
                        <asp:ListItem Value="changzhou" Text="常州" />
                        <asp:ListItem Value="erdos" Text="鄂尔多斯" />
                        </asp:DropDownList>
                    </td>
                </tr>               <tr>
                    <td>&nbsp;</td>
                    <td style="width: 163px">                    
                        <asp:Button ID="LogonBtn" Text="登 录" runat="server"  CssClass="btn" 
                            OnClientClick="return readLogonTestCardNo('txtOperCardno')" OnClick="LogonBtn_Click" />
                    </td>
                </tr>
            </table>
            <!--控制此div的display属性设置可见不可见-->
            <div class="red" id="ErrorMsg">
                &nbsp;<asp:Label ID="Msg" runat="server" Height="18px"></asp:Label></div>
        </div>
    </div>
    <div id="jz"></div>
    </form>
</body>
</html>
