﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="main.aspx.cs" Inherits="main" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<frameset cols="175,*" framespacing="0" frameborder="0" border="0" id="overall">
    <frame src="menu.aspx" name="menu" frameborder="0" scrolling="no" noresize="noresize"  />
    <frame src="welcome.html" name="content" class="main" frameborder="0" scrolling="auto"  noresize="noresize"  />
</frameset>
<noframes>
    <body>
    </body>
</noframes> 
</html>
