﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AS_ParkReport.aspx.cs" Inherits="ASP_AddtionalService_AS_ParkReport" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>停车收费统计</title>
    <link rel="stylesheet" type="text/css" href="../../css/frame.css" />

    <script type="text/javascript" src="../../js/print.js"></script>

    <script type="text/javascript" src="../../js/myext.js"></script>

    <link href="../../css/card.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="tb">
        停车收费->停车收费统计
    </div>
    <ajaxToolkit:ToolkitScriptManager runat="Server" EnableScriptGlobalization="true"
        EnableScriptLocalization="true" ID="ToolkitScriptManager1" />

    <script type="text/javascript" language="javascript">
        var swpmIntance = Sys.WebForms.PageRequestManager.getInstance();
        swpmIntance.add_initializeRequest(BeginRequestHandler);
        swpmIntance.add_pageLoading(EndRequestHandler);
        function BeginRequestHandler(sender, args) {
            try { MyExtShow('请等待', '正在提交后台处理中...'); } catch (ex) { }
        }
        function EndRequestHandler(sender, args) {
            try { MyExtHide(); } catch (ex) { }
        }
    </script>

    <asp:UpdatePanel ID="UpdatePanel2" runat="server">
        <ContentTemplate>
            <asp:BulletedList ID="bulMsgShow" runat="server">
            </asp:BulletedList>

            <script runat="server">public override void ErrorMsgShow() { ErrorMsgHelper(bulMsgShow); }</script>

            <div class="con">
                <div class="card">
                    查询</div>
                <div class="kuang5">
                    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="text25">
                        <tr>
                            <td style="width: 100px;">
                                <div align="right">
                                    停车场:</div>
                            </td>
                            <td>
                                <asp:DropDownList ID="selParkPlace" CssClass="input" runat="server" AutoPostBack="true"
                                    OnSelectedIndexChanged="ddlParkPlace_SelectedIndexChanged">
                                </asp:DropDownList>
                            </td>
                            <td>
                                <div align="right">
                                    区域:</div>
                            </td>
                            <td>
                                <asp:DropDownList ID="selArea" CssClass="input" runat="server" AutoPostBack="true"
                                    OnSelectedIndexChanged="ddlArea_SelectedIndexChanged">
                                </asp:DropDownList>
                            </td>
                            <td>
                                <div align="right">
                                    卡类型:</div>
                            </td>
                            <td>
                                <asp:DropDownList ID="selCardType" CssClass="input" runat="server">
                                </asp:DropDownList>
                            </td>
                            <td>
                                <div align="right">
                                    部门:</div>
                            </td>
                            <td>
                                <asp:DropDownList ID="selDept" CssClass="input" runat="server" AutoPostBack="true"
                                    OnSelectedIndexChanged="selDept_Changed">
                                </asp:DropDownList>
                            </td>
                            <td>
                                <div align="right">
                                    员工:</div>
                            </td>
                            <td>
                                <asp:DropDownList ID="selStaff" CssClass="input" runat="server">
                                </asp:DropDownList>
                            </td>
                            <td align="right">
                                <asp:Button ID="Button1" CssClass="button1" runat="server" Text="查询" OnClick="btnQuery_Click" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100px;">
                                <div align="right">
                                    卡号:</div>
                            </td>
                            <td>
                                <asp:TextBox runat="server" ID="txtCardNo" MaxLength="16" CssClass="input" />
                            </td>
                            <td>
                                <div align="right">
                                    交易类型:</div>
                            </td>
                            <td>
                                <asp:DropDownList ID="seltradetype" CssClass="input" runat="server">
                                    <asp:ListItem Selected="True" Value="">---全部业务---</asp:ListItem>
                                    <asp:ListItem Value="4R">4R:开通</asp:ListItem>
                                    <asp:ListItem Value="4S">4S:关闭</asp:ListItem>
                                    <asp:ListItem Value="4T">4T:变更</asp:ListItem>
                                </asp:DropDownList>
                            </td>
                            <td>
                                <div align="right">
                                    车位号:</div>
                            </td>
                            <td>
                                <asp:TextBox runat="server" ID="txtPlaceCode" MaxLength="10" CssClass="input" />
                            </td>
                            <td>
                                <div align="right">
                                    车牌号:</div>
                            </td>
                            <td>
                                <asp:TextBox runat="server" ID="txtPlateNo" MaxLength="10" CssClass="input" />
                            </td>
                            <td>
                                <div align="right">
                                    功能费:</div>
                            </td>
                            <td>
                                <asp:TextBox runat="server" ID="txtFree" MaxLength="6" CssClass="input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="right">
                                    开始日期:</div>
                            </td>
                            <td>
                                <asp:TextBox runat="server" ID="txtFromDate" MaxLength="8" CssClass="input"></asp:TextBox>
                                <ajaxToolkit:CalendarExtender ID="FCalendar1" runat="server" TargetControlID="txtFromDate"
                                    Format="yyyyMMdd" />
                            </td>
                            <td>
                                <div align="right">
                                    结束日期:</div>
                            </td>
                            <td>
                                <asp:TextBox runat="server" ID="txtToDate" MaxLength="8" CssClass="input"></asp:TextBox>
                                <ajaxToolkit:CalendarExtender ID="FCalendar2" runat="server" TargetControlID="txtToDate"
                                    Format="yyyyMMdd" />
                            </td>
                            <td>
                                <div align="right">
                                    <asp:CheckBox ID="chkFlag" runat="server" Text="汇总" Checked="true" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <table id="queryans1" border="0" width="95%" runat="server">
                    <tr>
                        <td align="left">
                            <div class="jieguo">
                                查询结果</div>
                        </td>
                        <td align="right">
                            <asp:Button ID="btnExport" CssClass="button1" runat="server" Text="导出Excel" OnClick="btnExport_Click" />
                            <asp:Button ID="btnPrint" CssClass="button1" runat="server" Text="打印" OnClientClick="return printGridView('printarea');" />
                        </td>
                    </tr>
                </table>
                <div id="printarea" class="kuang5" runat="server" visible="false">
                    <div id="gdtbfix" style="height: 360px;">
                        <table id="printReport1" width="95%">
                            <tr align="center">
                                <td style="font-size: 16px; font-weight: bold">
                                    停车收费明细统计
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="300px" align="right">
                                        <tr align="right">
                                            <td>
                                                开始日期：<%=txtFromDate.Text%>
                                            </td>
                                            <td>
                                                结束日期：<%=txtToDate.Text%>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <asp:GridView ID="gvResult" runat="server" Width="95%" CssClass="tab2" HeaderStyle-CssClass="tabbt"
                            AlternatingRowStyle-CssClass="tabjg" SelectedRowStyle-CssClass="tabsel" PagerSettings-Mode="NumericFirstLast"
                            PagerStyle-HorizontalAlign="left" PagerStyle-VerticalAlign="Top" AutoGenerateColumns="true"
                            OnRowDataBound="gvResult_RowDataBound">
                        </asp:GridView>
                    </div>
                </div>
                <table border="0" id="queryans2" runat="server" width="95%" visible="false">
                    <tr>
                        <td align="left">
                            <div class="jieguo">
                                查询结果</div>
                        </td>
                        <td align="right">
                            <asp:Button ID="btnExport2" CssClass="button1" runat="server" Text="导出Excel" OnClick="btnExport_Click2" />
                            <asp:Button ID="btnPrint2" CssClass="button1" runat="server" Text="打印" OnClientClick="return printGridView('printarea2');" />
                        </td>
                    </tr>
                </table>
                <div id="printarea2" class="kuang5" runat="server" visible="false">
                    <div id="gdtbfix2" style="height: 360px;">
                        <table id="printReport2" width="95%">
                            <tr align="center">
                                <td style="font-size: 16px; font-weight: bold">
                                    停车收费汇总统计
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="300px" align="right">
                                        <tr align="right">
                                            <td>
                                                开始日期：<%=txtFromDate.Text%>
                                            </td>
                                            <td>
                                                结束日期：<%=txtToDate.Text%>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <asp:GridView ID="gvAccount" runat="server" Width="95%" CssClass="tab2" HeaderStyle-CssClass="tabbt"
                            FooterStyle-CssClass="tabcon" AlternatingRowStyle-CssClass="tabjg" SelectedRowStyle-CssClass="tabsel"
                            PagerSettings-Mode="NumericFirstLast" PagerStyle-HorizontalAlign="left" PagerStyle-VerticalAlign="Top"
                            AutoGenerateColumns="true" OnRowDataBound="gvAccount_RowDataBound" ShowFooter="true">
                        </asp:GridView>
                    </div>
                </div>
        </ContentTemplate>
        <Triggers>
            <asp:PostBackTrigger ControlID="btnExport" />
            <asp:PostBackTrigger ControlID="btnExport2" />
        </Triggers>
    </asp:UpdatePanel>
    </form>
</body>
</html>
