﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FI_AgentChargeStatic.aspx.cs" Inherits="ASP_Financial_FI_AgentChargeStatic" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>代理充值统计</title>
    <link rel="stylesheet" type="text/css" href="../../css/frame.css" />
     <script type="text/javascript" src="../../js/print.js"></script>
     <script type="text/javascript" src="../../js/myext.js"></script>
    <link href="../../css/card.css" rel="stylesheet" type="text/css" />
    <style>
    th{ text-align:center;font-weight:bold;}
    </style>
</head>
<body>
    <form id="form1" runat="server">
    
        <div class="tb">
		    财务管理->代理充值统计
	    </div>
<ajaxToolkit:ToolkitScriptManager runat="Server" EnableScriptGlobalization="true" AsyncPostBackTimeout="600"
            EnableScriptLocalization="true" ID="ScriptManager2" />
          <script type="text/javascript" language="javascript">
                var swpmIntance = Sys.WebForms.PageRequestManager.getInstance();
                swpmIntance.add_initializeRequest(BeginRequestHandler);
                swpmIntance.add_pageLoading(EndRequestHandler);
				function BeginRequestHandler(sender, args){
				    try {MyExtShow('请等待', '正在提交后台处理中...'); } catch(ex){}
				}
				function EndRequestHandler(sender, args) {
				    try {MyExtHide(); } catch(ex){}
				}
          </script> 
        <asp:UpdatePanel ID="UpdatePanel2" runat="server">  
            <ContentTemplate>  
               
            <!-- #include file="../../ErrorMsg.inc" -->  
	        <div class="con">

           <div class="card">查询</div>
           <div class="kuang5">
               <table width="95%" border="0" cellpadding="0" cellspacing="0" class="text25">
                   <tr>
                        <td><div align="right">交易开始日期:</div></td>
                        <td>
                            <asp:TextBox runat="server" ID="txtFromDate" MaxLength="8" CssClass="input"></asp:TextBox>
                            <ajaxToolkit:CalendarExtender ID="FCalendar1" runat="server" TargetControlID="txtFromDate" Format="yyyyMMdd" />
                        </td>
                        <td><div align="right">交易结束日期:</div></td>
                        <td colspan="3">
                            <asp:TextBox runat="server" ID="txtToDate" MaxLength="8" CssClass="input"></asp:TextBox>
                            <ajaxToolkit:CalendarExtender ID="FCalendar2" runat="server" TargetControlID="txtToDate" Format="yyyyMMdd" />
                        </td>
                        <td><div align="right">统计类型:</div></td>
                        <td><asp:DropDownList ID="selType" CssClass="inputmid" runat="server"></asp:DropDownList>
                        </td>
                        <td align="right">
                            
                        </td>
                   </tr>

                   <tr>
                        <td><div align="right">充值点:</div></td>
                        <td>
                            <asp:DropDownList ID="selBalunit" CssClass="input" runat="server"></asp:DropDownList>
                        </td>
                        <td><div align="right">充值类型:</div></td>
                        <td colspan="3">
                           <asp:DropDownList ID="selChargeType"  CssClass="input" runat="server"></asp:DropDownList></td>
                        <td><div align="right">&nbsp;</div></td>
                        <td>&nbsp;</td>
                        <td align="right">
                            <asp:Button ID="Button1" CssClass="button1" runat="server" Text="查询" OnClick="btnQuery_Click"/>
                        </td>
                   </tr>
               </table>
               
             </div>
	
	        <asp:HiddenField ID="hidNo" runat="server" Value="" />
	
            <table border="0" width="95%">
                <tr>
                    <td align="left"><div class="jieguo">查询结果</div></td>
                    <td align="right">
                        <asp:Button ID="btnExport" CssClass="button1" runat="server" Text="导出Excel" OnClick="btnExport_Click" />
                        <asp:Button ID="btnPrint" CssClass="button1" runat="server" Text="打印" OnClientClick="return printGridView('printarea');"/>
                    </td>
                </tr>
            </table>
            
              <div id="printarea" class="kuang5">
                <div id="gdtbfix" style="height:380px;">
                    <table id="printReport" width ="95%">
                        <tr align="center">
                            <td style ="font-size:16px;font-weight:bold"><asp:Label ID="labTitle" runat="server"></asp:Label></td>
                        </tr>
                        <tr>
                            <td>
                                <table width="300px" align="left">
                                    <tr align="left">
                                        <td></td>
                                    </tr>
                                </table>
                            
                                <table width="300px" align="right">
                                    <tr align="right">
                                        <td>开始日期：<%=txtFromDate.Text%></td>
                                        <td>结束日期：<%=txtToDate.Text%></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <asp:GridView ID="gvChangeReport" runat="server"
                        Width = "98%"
                        CssClass="tab2"
                        HeaderStyle-CssClass="tabbt"
                        AlternatingRowStyle-CssClass="tabjg"
                        SelectedRowStyle-CssClass="tabsel"

                        PagerSettings-Mode="NumericFirstLast"
                        PagerStyle-HorizontalAlign="center"
                        PagerStyle-VerticalAlign="Top"
                        AutoGenerateColumns="true"
                        OnDataBound="gvChangeReport_DataBound"
                        OnPreRender="gvChangeReport_PreRender"
                        OnRowCreated="gvChangeReport_RowCreated"
                        >       
                    </asp:GridView>

                </div>
              </div>
            </div>
      
            </ContentTemplate>
            <Triggers>
                <asp:PostBackTrigger ControlID="btnExport" />
              </Triggers>
        </asp:UpdatePanel>
        
    </form>
</body>
</html>
