﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FI_BusQuickPayTradeReport.aspx.cs" Inherits="ASP_Financial_FI_BusQuickPayTradeReport" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>闪付公交交易日报</title>
    <link rel="stylesheet" type="text/css" href="../../css/frame.css" />
    <script type="text/javascript" src="../../js/print.js"></script>
    <script type="text/javascript" src="../../js/myext.js"></script>
    <link href="../../css/card.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="tb">
		    财务管理->闪付公交交易日报
	 </div>
        <ajaxToolkit:ToolkitScriptManager runat="Server" EnableScriptGlobalization="true" EnableScriptLocalization="true" ID="ToolkitScriptManager1" />
	    <script type="text/javascript" language="javascript">
	        var swpmIntance = Sys.WebForms.PageRequestManager.getInstance();
	        swpmIntance.add_initializeRequest(BeginRequestHandler);
	        swpmIntance.add_pageLoading(EndRequestHandler);
	        function BeginRequestHandler(sender, args) {
	            try { MyExtShow('请等待', '正在提交后台处理中...'); } catch (ex) { }
	        }
	        function EndRequestHandler(sender, args) {
	            try { MyExtHide(); } catch (ex) { }
	        }
          </script>
        <asp:UpdatePanel ID="UpdatePanel2" runat="server">  
            <ContentTemplate>  
            <!-- #include file="../../ErrorMsg.inc" -->
	        <div class="con">

	           <div class="card">查询条件</div>
               <div class="kuang5">
               <table width="95%" border="0" cellpadding="0" cellspacing="0" class="text25">
                   <tr>
                   <td>
                      <div align="right">结算开始日期:</div></td>
                        <td>
                            <asp:TextBox runat="server" ID="txtAccountFromDate" MaxLength="8" CssClass="input"></asp:TextBox>
                            <ajaxToolkit:CalendarExtender ID="FCalendar1" runat="server" TargetControlID="txtAccountFromDate" Format="yyyyMMdd" />
                        </td>
                        <td><div align="right">结算结束日期:</div></td>
                        <td>
                            <asp:TextBox runat="server" ID="txtAccountToDate" MaxLength="8" CssClass="input"></asp:TextBox>
                            <ajaxToolkit:CalendarExtender ID="FCalendar2" runat="server" TargetControlID="txtAccountToDate" Format="yyyyMMdd" />
                        </td>
                   </tr>
                <tr><td>
                      <div align="right">文件开始日期:</div></td>
                        <td>
                            <asp:TextBox runat="server" ID="txtFileFromDate" MaxLength="8" CssClass="input"></asp:TextBox>
                            <ajaxToolkit:CalendarExtender ID="CalendarExtender1" runat="server" TargetControlID="txtFileFromDate" Format="yyyyMMdd" />
                        </td>
                        <td><div align="right">文件结束日期:</div></td>
                        <td>
                            <asp:TextBox runat="server" ID="txtFileToDate" MaxLength="8" CssClass="input"></asp:TextBox>
                            <ajaxToolkit:CalendarExtender ID="CalendarExtender2" runat="server" TargetControlID="txtFileToDate" Format="yyyyMMdd" />
                        </td>
                         <td align="right">
                            <asp:Button ID="Button1" CssClass="button1" runat="server" Text="查询" OnClick="btnQuery_Click"/>
                        </td>
                </tr>
               </table>
             </div>
	
	        <table border="0" width="95%">
                <tr>
                    <td align="left"><div class="jieguo">查询结果</div></td>
                    <td align="right">
                        <asp:Button ID="btnExport" CssClass="button1" runat="server" Text="导出Excel" OnClick="btnExport_Click"/>
                        <asp:Button ID="btnPrint" CssClass="button1" runat="server" Text="打印" OnClientClick="return printGridView('printarea');"/>
                    </td>
                </tr>
            </table>
              <div id="printarea" class="kuang5">
              <div id="gdtbfix" style="height:380px">
                    <table id="printReport" width ="95%">
                        <tr align="center">
                            <td style ="font-size:16px;font-weight:bold">闪付公交交易日报</td>
                        </tr>
                    </table>
           <asp:GridView ID="gvResult" runat="server"
                            Width = "95%"
                            CssClass="tab2"
                            HeaderStyle-CssClass="tabbt" 
                            FooterStyle-CssClass="tabcon"
                            AlternatingRowStyle-CssClass="tabjg"
                            SelectedRowStyle-CssClass="tabsel"
                            PagerSettings-Mode="NumericFirstLast"
                            PagerStyle-HorizontalAlign="left"
                            PagerStyle-VerticalAlign="Top"
                            EmptyDataText="查询结果为空"
                            EmptyDataRowStyle-Font-Bold="true"
                            EmptyDataRowStyle-BorderWidth="0"
                            ShowFooter="true" AutoGenerateColumns="false" OnRowDataBound="gvResult_RowDataBound">
                <Columns>
                <asp:BoundField HeaderText="商户代码" DataField="balunitno" ControlStyle-ForeColor="Red"/>
                <asp:BoundField HeaderText="商户名称" DataField="balunit"/>
                <asp:BoundField HeaderText="文件日期" DataField="FILEDATE"/>
                <asp:BoundField HeaderText="总金额" DataField="MONEY" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="总笔数" DataField="tradetimes"/>
                <asp:BoundField HeaderText="本行卡正常交易总金额" DataField="cb_rightmoney" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="本行卡正常交易总笔数" DataField="cb_righttimes"/>
                <asp:BoundField HeaderText="本行卡异常交易总金额" DataField="CB_ERRORMONEY" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="本行卡异常交易总笔数" DataField="CB_ERRORTIMES"/>
                <asp:BoundField HeaderText="他行卡正常交易总金额" DataField="ob_rightmoney" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="他行卡正常交易总笔数" DataField="ob_righttimes"/>
                <asp:BoundField HeaderText="他行卡异常交易总金额" DataField="OB_ERRORMONEY" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="他行卡异常交易总笔数" DataField="OB_ERRORTIMES"/>
                <asp:BoundField HeaderText="结算日期" DataField="DEALTIME" DataFormatString="{0:D}"/>
                <asp:BoundField HeaderText="结算状态" DataField="state"/>
                </Columns>
               </asp:GridView>
                </div>
                </div>
            </div>

            </ContentTemplate>
            <Triggers>
                <asp:PostBackTrigger ControlID="btnExport" />
            </Triggers>
        </asp:UpdatePanel>
    </form>
</body>
</html>
