﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FI_QuickPayBankReport.aspx.cs" Inherits="ASP_Financial_FI_QuickPayBankReport" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>闪付卡银行到账日报</title>
    <link rel="stylesheet" type="text/css" href="../../css/frame.css" />
    <script type="text/javascript" src="../../js/print.js"></script>
    <script type="text/javascript" src="../../js/myext.js"></script>
    <link href="../../css/card.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="tb">
		    财务管理->闪付卡银行到账日报
	 </div>
        <ajaxToolkit:ToolkitScriptManager runat="Server" EnableScriptGlobalization="true" EnableScriptLocalization="true" ID="ToolkitScriptManager1" />
	    <script type="text/javascript" language="javascript">
	        var swpmIntance = Sys.WebForms.PageRequestManager.getInstance();
	        swpmIntance.add_initializeRequest(BeginRequestHandler);
	        swpmIntance.add_pageLoading(EndRequestHandler);
	        function BeginRequestHandler(sender, args) {
	            try { MyExtShow('请等待', '正在提交后台处理中...'); } catch (ex) { }
	        }
	        function EndRequestHandler(sender, args) {
	            try { MyExtHide(); } catch (ex) { }
	        }
          </script>
         <asp:UpdatePanel ID="UpdatePanel2" runat="server">  
            <ContentTemplate>
             <!-- #include file="../../ErrorMsg.inc" -->
             <div class="con">
              <div class="card">查询条件</div>
               <div class="kuang5">
               <table width="95%" border="0" cellpadding="0" cellspacing="0" class="text25">
                   <tr>
                   <td>
                      <div align="right">银行名称:</div></td>
                        <td>
                            <asp:DropDownList runat="server" ID="ddlSelBank" CssClass="inputmid">
                                <asp:ListItem Text="---请选择---" Value="-1" Selected="True"></asp:ListItem>
                                <asp:ListItem Text="1001:江南银行" Value="1001"></asp:ListItem>
                            </asp:DropDownList>
                        </td>
                        <td><div align="right">结算开始日期:</div></td>
                        <td>
                            <asp:TextBox runat="server" ID="txtAccountFromDate" MaxLength="8" CssClass="input"></asp:TextBox>
                            <ajaxToolkit:CalendarExtender ID="FCalendar" runat="server" TargetControlID="txtAccountFromDate" Format="yyyyMMdd" />
                        </td>
                       <td><div align="right">结算结束日期:</div></td>
                       <td>
                           <asp:TextBox runat="server" ID="txtAccountToDate" MaxLength="8" CssClass="input"></asp:TextBox>
                           <ajaxToolkit:CalendarExtender ID="TCalendar" runat="server" TargetControlID="txtAccountToDate" Format="yyyyMMdd"></ajaxToolkit:CalendarExtender>
                       </td>
                    <td align="right">
                            <asp:Button ID="btnQuery" CssClass="button1" runat="server" Text="查询" OnClick="btnQuery_Click"/>
                        </td>
                   </tr>
               </table>
             </div>
             <table border="0" width="95%">
                <tr>
                    <td align="left"><div class="jieguo">查询结果</div></td>
                    <td align="right">
                        <asp:Button ID="btnExport" CssClass="button1" runat="server" Text="导出Excel" OnClick="btnExport_Click"/>
                    </td>
                </tr>
            </table>
           <div id="printarea" class="kuang5">
                <div id="gdtbfix" style="height:380px">
                    <table id="printReport" width ="95%">
                        <tr align="center">
                            <td style ="font-size:16px;font-weight:bold">闪付卡银行到账日报</td>
                        </tr>
                         <tr>
                            <td>
                                <table width="300px" align="right">
                                    <tr align="right">
                                        <td>开始日期：<%=txtAccountFromDate.Text%></td>
                                        <td>结束日期：<%=txtAccountToDate.Text%></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
           <asp:GridView ID="gvResult" runat="server"
                            Width = "95%"
                            CssClass="tab2"
                            HeaderStyle-CssClass="tabbt" 
                            FooterStyle-CssClass="tabcon"
                            AlternatingRowStyle-CssClass="tabjg"
                            SelectedRowStyle-CssClass="tabsel"
                            PagerSettings-Mode="NumericFirstLast"
                            PagerStyle-HorizontalAlign="left"
                            PagerStyle-VerticalAlign="Top"
                            EmptyDataText="查询结果为空"
                            EmptyDataRowStyle-Font-Bold="true"
                            EmptyDataRowStyle-BorderWidth="0"
                            ShowFooter="false" AutoGenerateColumns="false"
                            >
                <Columns>
                <asp:BoundField HeaderText="银行名称" DataField="bank"/>
                <asp:BoundField HeaderText="正常交易总金额" DataField="cb_money" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="正常交易总笔数" DataField="CB_TIMES"/>
                <asp:BoundField HeaderText="异常交易总金额" DataField="cb_errormoney" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="异常交易总笔数" DataField="CB_ERRORTIMES"/>
                <asp:BoundField HeaderText="交易总金额(正常+异常)" DataField="cb_totalmoney" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="实收总金额" DataField="realmoney" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="他行卡正常交易总金额" DataField="ob_money" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="他行卡正常交易总笔数" DataField="OB_TIMES" />
                <asp:BoundField HeaderText="他行卡异常交易总金额" DataField="ob_errormoney" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="他行卡异常交易总笔数" DataField="OB_ERRORTIMES" />
                <asp:BoundField HeaderText="本行卡交易手续费" DataField="commission" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="他行卡交易手续费" DataField="OB_COMMISSION" DataFormatString="{0:f2}"/>
                <asp:BoundField HeaderText="日期范围" DataField="SETTLECYCLE" />
                </Columns>
               </asp:GridView>
                </div>
              </div>
            </div>
            </ContentTemplate>
             <Triggers>
                <asp:PostBackTrigger ControlID="btnExport" />
            </Triggers>
        </asp:UpdatePanel>
    </form>
</body>
</html>
