﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BS_ReturnSpecialCardMoney.aspx.cs" Inherits="ASP_BusService_BS_ReturnSpecialCardMoney" %>

<%@ Register Src="../../CardReader.ascx" TagName="CardReader" TagPrefix="cr" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>退款</title>
    <link rel="stylesheet" type="text/css" href="../../css/frame.css" />

    <script type="text/javascript" src="../../js/print.js"></script>

    <link href="../../css/card.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <cr:CardReader ID="cardReader" runat="server" />
    <form id="form1" runat="server">
        <div class="tb">
            公交卡->退款
        </div>
        <ajaxToolkit:ToolkitScriptManager runat="Server" EnableScriptGlobalization="true"
            EnableScriptLocalization="true" ID="ScriptManager2" />

        <script type="text/javascript" language="javascript">
            var swpmIntance = Sys.WebForms.PageRequestManager.getInstance();
            swpmIntance.add_initializeRequest(BeginRequestHandler);
            swpmIntance.add_pageLoading(EndRequestHandler);
            function BeginRequestHandler(sender, args) {
                try { MyExtShow('请等待', '正在提交后台处理中...'); } catch (ex) { }
            }
            function EndRequestHandler(sender, args) {
                try { MyExtHide(); } catch (ex) { }
            }
        </script>

        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <aspControls:PrintPingZheng ID="ptnPingZheng" runat="server" PrintArea="ptnPingZheng1" />
                <asp:BulletedList ID="bulMsgShow" runat="server">
                </asp:BulletedList>

                <script runat="server">public override void ErrorMsgShow() { ErrorMsgHelper(bulMsgShow); }</script>

                <div class="con">
                    <div class="card">
                        卡片信息
                    </div>
                    <div class="kuang5">
                        <asp:HiddenField ID="hiddensDate" runat="server" />
                        <asp:HiddenField ID="hiddeneDate" runat="server" />
                        <asp:HiddenField ID="hiddencMoney" runat="server" />
                        <asp:HiddenField ID="hiddenread" runat="server" />
                        <asp:HiddenField ID="hiddentxtCardno" runat="server" />
                        <asp:HiddenField ID="hiddenAsn" runat="server" />
                        <asp:HiddenField ID="hiddenLabCardtype" runat="server" />
                        <asp:HiddenField ID="hiddentradeno" runat="server" />
                        <asp:HiddenField ID="hidWarning" runat="server" />
                        <asp:HiddenField ID="hiddenverify" runat="server" />
                        <asp:HiddenField ID="hiddenCheck" runat="server" />
                        <asp:HiddenField ID="hidCancelDepositFee" runat="server" />
                        <asp:HiddenField ID="hidCancelSupplyFee" runat="server" />
                        <asp:HiddenField ID="hidSERSTAKETAG" runat="server" />
                        <asp:HiddenField ID="hidDEPOSIT" runat="server" />
                        <asp:HiddenField ID="hidService" runat="server" />
                        <asp:HiddenField ID="hidLockBlackCardFlag" runat="server" />
                        <asp:HiddenField ID="hiddenCardRent" runat="server" />
                        <table width="98%" border="0" cellpadding="0" cellspacing="0" class="text20">
                            <tr>
                                <td width="10%">
                                    <div align="right">
                                        用户卡号:
                                    </div>
                                </td>
                                <td width="10%">
                                    <asp:TextBox ID="txtCardno" CssClass="input" MaxLength="16" runat="server"></asp:TextBox></td>
                                <td width="9%">
                                    <div align="right">
                                        卡序列号:
                                    </div>
                                </td>
                                <td width="10%">
                                    <asp:TextBox ID="LabAsn" ReadOnly="true" CssClass="labeltext" runat="server"></asp:TextBox></td>
                                <td width="9%">
                                    <div align="right">
                                        退款类型:
                                    </div>
                                </td>
                                <td width="14%">
                                    <asp:DropDownList ID="selReturnType" AutoPostBack="true" OnSelectedIndexChanged="selReturnType_SelectedIndexChanged"
                                        runat="server" CssClass="input">
                                        <asp:ListItem Value="">--请选择--</asp:ListItem>
                                        <asp:ListItem Value="01">01:挂失</asp:ListItem>
                                        <asp:ListItem Value="02">02:换卡</asp:ListItem>
                                        <asp:ListItem Value="03">03:退卡</asp:ListItem>
                                        <asp:ListItem Value="04">04:退款</asp:ListItem>
                                    </asp:DropDownList></td>

                                <td width="9%">
                                    <div align="right">
                                        退卡类型:
                                    </div>
                                </td>
                                <td width="14%">
                                    <asp:DropDownList ID="selStateType" AutoPostBack="true" Enabled="false" OnSelectedIndexChanged="selStateType_SelectedIndexChanged"
                                        runat="server" CssClass="input">
                                        <asp:ListItem Value="">--请选择--</asp:ListItem>
                                        <asp:ListItem Value="11">11:可读卡退卡</asp:ListItem>
                                        <asp:ListItem Value="15">15:不可读卡退卡</asp:ListItem>
                                    </asp:DropDownList></td>
                                <td width="10%"></td>
                                <td width="12%">
                                    <asp:Button ID="btnDBRead" CssClass="button1" runat="server" Enabled="false" Text="读数据库" OnClick="btnDBRead_Click" /></td>
                            </tr>
                            <tr>
                                <td width="9%">
                                    <div align="right">
                                        启用日期:
                                    </div>
                                </td>
                                <td width="10%">
                                    <asp:TextBox ID="sDate" CssClass="labeltext" ReadOnly="true" runat="server" Text=""></asp:TextBox></td>
                                <td width="9%">
                                    <div align="right">
                                        结束日期:
                                    </div>
                                </td>
                                <td width="10%">
                                    <asp:TextBox ID="eDate" CssClass="labeltext" ReadOnly="true" runat="server" Text=""></asp:TextBox></td>
                                <td width="9%">
                                    <div align="right">
                                        余额:
                                    </div>
                                </td>
                                <td width="10%">
                                    <asp:TextBox ID="cMoney" CssClass="labeltext" ReadOnly="true" runat="server" Text=""></asp:TextBox></td>
                                <td>
                                    <div align="right">
                                        售卡时间:
                                    </div>
                                </td>
                                <td>
                                    <asp:TextBox ID="sellTime" CssClass="labeltext" Width="100" runat="server" Text=""></asp:TextBox></td>
                                <td width="10%"></td>
                                <td width="12%">
                                    <div align="left">
                                        <asp:Button ID="btnReadCard" CssClass="button1" runat="server" Enabled="false" Text="读卡" OnClientClick="return ReadCardInfo()"
                                            OnClick="btnReadCard_Click" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="right">
                                        卡片状态:
                                    </div>
                                </td>
                                <td>
                                    <asp:TextBox ID="RESSTATE" CssClass="labeltext" runat="server"></asp:TextBox>
                                        <asp:HiddenField ID="hiddenCardState" runat="server" />
                                </td>
                                <td>
                                    <div align="right">
                                        开通功能:
                                    </div>
                                </td>
                                <td colspan="6">
                                    <aspControls:OpenFunc ID="openFunc" runat="server" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="pip">
                        用户信息
                    </div>
                    <div class="kuang5">
                        <table width="98%" border="0" cellpadding="0" cellspacing="0" class="text20">
                            <tr>
                                <td width="9%">
                                    <div align="right">
                                        用户姓名:
                                    </div>
                                </td>
                                <td width="13%">
                                    <asp:Label ID="CustName" runat="server" Text=""></asp:Label></td>
                                <td width="9%">
                                    <div align="right">
                                        出生日期:
                                    </div>
                                </td>
                                <td width="13%">
                                    <asp:Label ID="CustBirthday" runat="server" Text=""></asp:Label></td>
                                <td width="9%">
                                    <div align="right">
                                        证件类型:
                                    </div>
                                </td>
                                <td width="12%">
                                    <asp:Label ID="Papertype" runat="server" Text=""></asp:Label></td>
                                <td width="10%">
                                    <div align="right">
                                        证件号码:
                                    </div>
                                </td>
                                <td width="21%" colspan="3">
                                    <asp:Label ID="Paperno" runat="server" Text=""></asp:Label></td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="right">
                                        用户性别:
                                    </div>
                                </td>
                                <td>
                                    <asp:Label ID="Custsex" runat="server" Text=""></asp:Label></td>
                                <td>
                                    <div align="right">
                                        联系电话:
                                    </div>
                                </td>
                                <td>
                                    <asp:Label ID="Custphone" runat="server" Text=""></asp:Label></td>
                                <td>
                                    <div align="right">
                                        邮政编码:
                                    </div>
                                </td>
                                <td>
                                    <asp:Label ID="Custpost" runat="server" Text=""></asp:Label></td>
                                <td>
                                    <div align="right">
                                        联系地址:
                                    </div>
                                </td>
                                <td colspan="3">
                                    <asp:Label ID="Custaddr" runat="server" Text=""></asp:Label></td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="right">
                                    电子邮件:</td>
                                <td>
                                    <asp:Label ID="txtEmail" runat="server" Text=""></asp:Label></td>
                                <td valign="top">
                                    <div align="right">
                                        备注 :
                                    </div>
                                </td>
                                <td colspan="5">
                                    <asp:Label ID="Remark" runat="server" Text=""></asp:Label></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="basicinfo">
                    <div class="money">
                        费用信息
                    </div>
                    <div class="kuang5">
                        <table width="180" border="0" cellpadding="0" cellspacing="0" class="tab1">
                            <tr class="tabbt">
                                <td width="66">费用项目</td>
                                <td width="94">费用金额(元)</td>
                            </tr>
                            <tr>
                                <td>退押金</td>
                                <td>
                                    <asp:Label ID="CancelDepositFee" runat="server" Text=""></asp:Label></td>
                            </tr>
                            <tr class="tabjg">
                                <td>退充值</td>
                                <td>
                                    <asp:Label ID="CancelSupplyFee" runat="server" Text=""></asp:Label></td>
                            </tr>
                            <tr>
                                <td>手续费</td>
                                <td>
                                    <asp:Label ID="ProcedureFee" runat="server" Text=""></asp:Label></td>
                            </tr>
                            <tr class="tabjg">
                                <td>其他费用</td>
                                <td>
                                    <asp:Label ID="OtherFee" runat="server" Text=""></asp:Label></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="tabjg">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="tabjg">
                                <td>合计应收(退)</td>
                                <td>
                                    <asp:Label ID="Total" runat="server" Text=""></asp:Label></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="pipinfo">
                    <div class="info">
                        退卡信息
                    </div>
                    <div class="kuang5">
                        <div class="bigkuang">
                            <div class="left">
                                <img src="../../Images/show-re.JPG" />
                            </div>
                            <div class="big">
                                <table width="200" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="160" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="red">
                                            <div align="center">
                                                应收/退客户的金额
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div align="center">
                                                <asp:Label ID="ReturnSupply" runat="server" Text=""></asp:Label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footall">
                </div>
                <div class="btns">
                    <table width="300" border="0" align="right" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <asp:Button ID="btnPrintPZ" runat="server" Text="打印凭证" CssClass="button1" Enabled="false"
                                    OnClientClick="printdiv('ptnPingZheng1')" /></td>
                            <td>
                                <asp:Button ID="btnReturnMoney" CssClass="button1" runat="server" Text="退款" Enabled="false"
                                    OnClick="btnReturnMoney_Click" /></td>
                        </tr>
                    </table>
                    <td>
                        <asp:CheckBox ID="chkPingzheng" runat="server" Checked="true" />自动打印凭证</td>
                </div>
            </ContentTemplate>
        </asp:UpdatePanel>
    </form>
</body>
</html>
